h1{
  font-family: 'Lobster';
  text-align: center;
}

.paint{
  margin:auto;
}

td{
  width: 120px;
  height: 300px;
  border: 5px solid white;
}

#one{
  background: #BD9391;
}

#two{
  background: #ADBABD;
}

#three{
  background: #91B7C7;
}

#four{
  background: #6EB4D1;
}

#five{
  background: #6CBEED;
}
