.firstdiv{
  color: red;
}

#singledout{
  color: green;
  text-decoration: line-through;
}

h3 + ul{
  border: 4px dashed blue;
}


li a[href="http://google.com/"]{
  color: green;
  border: 2px solid green;
}
