body{
  background: url(https://image.freepik.com/free-vector/blue-geometric-technological-background_1055-1907.jpg);
}

div{
  background-color: blue;
  border-width: 5 px;
  border-color: green;
  border-style: dashed;
}
